@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 

body {
    font-family: 'Poppins';
    font-size: 18px;
    background-color: white;
}

a[href] {
    color:black
}

.container {
    width: 800px;
    margin: 0 auto;
}

.navbar {
    margin-top: 50px;

    .container {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 28px;
        text-transform: uppercase;
        Letter-spacing: 3px;
        font-weight: 600;
        text-decoration: none;
    }

    .nav-links {
        display: flex;
        margin-left: auto;
        list-style: none;

        .nav-item {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            transition: opacity .3s;
            font-weight: 500;

            &.active {
                font-weight: bold;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    background-color: black;
                }
            }

            &:hover {
                opacity: .5;
            }

        }
    }
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        display: flex;
    }
    .text-wrapper {
        width: 50%;

        &.w-full {
            width: 100%;
        }

        .title {
            font-size: 48px;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .description {
            font-size: 22px;
            line-height: 40px;
        }
        .cta {
            display: inline-block;
            padding: 15px 45px;
            margin-top: 20px;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: transform .3s;

            &:hover {
                transform: scale(1.1);
            }

        }
    }
    .image-wrapper {
        width: 45%;
        text-align: right;
        margin-top: 30px; /* Menurunkan posisi gambar ke bawah sejauh 20px */
        float: right; /* Menambahkan posisi ke kanan */
        margin-left: 20px; /* Menambahkan jarak antara image-wrapper dengan element sebelahnya */
        
        img {
        max-width: 100%;
        height: auto;
        }
    }      
}

.portfolio-wrapper {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    .portfolio-item {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        .portfolio-image {
            max-width: 100%;
        }

        .portfolio-name {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        .portfolio-category {
            color: black;
        }

    }
}

.contact-links {
    padding: 0;
    padding-left: 15px;
    margin-top: -10px;
    list-style: square;
    

    .contact-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.circle-cursor {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 40px;
    height: 40px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    border: 1px solid ;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all 0.1s ease-out;

    &.active {
        transform: scale(2);
        transition: all 0.1s ease-in-out;
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
    }
}








